.App {
  text-align: center;
  margin-top: 200px;
  background-color: #333;
}
.todo {
  font-size: 30px;
  color: yellow;
  display: flex;
  justify-content: flex-start;
  text-align: right;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 16px;
  margin-left: 32px;
}

.checkbox {
  height: 40px;
  width: 40px;
  color: red;
  margin-right: 8px;
}

.input {
  color: blue;
  width: 300px;
  height: 40px;
  font-size: 25px;
}

.button {
  font-size: 30px;
  background-color: yellow;
}

/* .todo-label{
    m
} */
